* {
  margin: 0;
  padding: 0;
}

.ant-spin-dot-item {
  background-color: #062314 !important;
}

.app {
  background-color: #062314;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.first-container {
  position: relative;
  display: inline-block;
}

.first-container-desktop {
  position: relative;
  display: flex;
  justify-content: center;
}

.top-globe {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.top-globe-desktop {
  width: 30%;
  display: block;
}

.logo-desktop {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;
}


.logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.flare-desktop {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 1;
}

.flare {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 1;
}

.second-container {
  margin-top: -29%;
  position: relative;
  width: 100%;
}

.second-container-desktop {
  margin-top: -14.5%;
  position: relative;
  width: 100%;
}

.second-background-desktop {
  width: 100%;
  height: 25dvh;
  display: block;
}

.second-background {
  width: 100%;
  display: block;
}


.same-name-text-desktop {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 22%;
}

.same-name-text {
  position: absolute;
  top: 42%;
  left: 27%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.switch-btn-desktop {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 12%;
}

.switch-btn {
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.person-desktop {
  position: absolute;
  bottom: 0;
  right: 28%;
  width: 10%;
  z-index: 2;
}


.person {
  position: absolute;
  bottom: 0;
  right: 7.5%;
  width: 36%;
  z-index: 2;
}


.third-container-desktop {
  position: relative;
  width: 100%;
  height: 45vh !important;
}

.third-background-desktop {
  width: 100%;
  display: block;
  height: 100%;
}

.third-container {
  position: relative;
  width: 100%;
}

.third-background {
  width: 100%;
  display: block;
}

.website-container-desktop {
  position: absolute;
  top: 0;
  left: 0;
}

.website-container {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-globe-desktop {
  width: 15.5%;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.bottom-globe {
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 10%;
}

.website-container-row-desktop {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11vw;
  margin-top: 1vh;
}

.website-container-row {
  width: 92%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20.5%;
}

.website-container-image-desktop {
  width: 10vw;
}

.website-container-image {
  width: 30vw;
}

.pick-your-site-desktop {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
}

.pick-your-site {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68%;
}

.description-desktop {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}


.description {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.wa-and-support,
.wa,
.support,
.footer {
  display: flex;
  justify-content: space-evenly;
}

.wa-and-support-desktop,
.wa-desktop,
.support-desktop,
.footer-desktop {
  display: flex;
  justify-content: space-evenly;
}

.wa-and-support-desktop {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  width: 100%;
}

.wa-and-support {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  width: 100%;
}


.wa-img-desktop,
.support-img-desktop {
  width: 22%;
  animation: bounce 0.6s infinite ease-in-out;
}


.wa-img,
.support-img {
  width: 75%;
  animation: bounce 0.6s infinite ease-in-out;
}

.footer-desktop {
  background-color: #062314;
  height: 6vh;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.footer {
  background-color: #062314;
  height: 7%;
  align-items: center;
  justify-content: space-around;
}

.eighteen-plus-desktop,
.secure-payment-desktop,
.dmca-protection-desktop {
  width: 5%;
  height: 36%;
}

.eighteen-plus,
.secure-payment,
.dmca-protection {
  width: 12%;
  height: 36%;
}



@media screen and (max-width: 540px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }

  30% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }

  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}